{% if not related.isEmpty() %}
    <ul class="article-list related-list">
        {% for article in related %}
            <li>
                <ul class="details light right">
                    <li>
                        <i class="fa fa-calendar-o"></i> {{ formatDate(article.created_at) }}
                    </li>
                </ul>
                <i class="fa fa-file-o left"></i>
                <a {% if newWindow is defined and newWindow %}target="_blank"{% endif %} href='{{ article.frontend_url(type) }}'>
                    <h4>{{ article.title }}</h4>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}