<span class="trimmed">{{ message.excerpt }}</span>

<span class="original {% if message.show_more is empty %}loaded{% endif %}{% if message.clipped %} clipped{% endif %}" style="display:none;">
    {% if message.show_more is empty %}
        {{ message.purified_text|raw }}
    {% endif %}
</span>