<span class="trimmed" {% if unread %}style="display: none"{% endif %}>{{ message.excerpt }}</span>

<span class="original {% if message.show_more is empty %}loaded{% endif %}{% if message.clipped %} clipped{% endif %}" {% if not unread %}style="display: none"{% endif %}>
    {% if message.show_more is empty %}
        {{ message.purified_text|raw }}
    {% endif %}
</span>