@charset "utf-8";

/* Dashboard */

ul.dashboardStats {
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}

ul.dashboardStats li {
	background: #fff;
	border-right: 1px solid #DFE5E6;
	color: #777;
	display: inline-table;
	font-size: 16px;
	line-height: 1.2em;
	padding: 0 10px;
	text-align: center;
	width: 33%;
}

ul.dashboardStats li:last-child {
	border-right: 0;
}

ul.dashboardStats li .number {
	color: #333;
	display: inline-block;
	font-size: 200%;
	line-height: 1em;
	margin-bottom: 10px;
}

#main h2.daily-stats {
	margin: 40px 0 25px;
	text-align: center;
}

/* Report */

.timeframe-options {
	line-height: 32px;
}

.report-date {
	display: inline-block;
}

.loading {
	background: #f5f5f5;
	border: 1px solid #eee;
	font-size: 120%;
	text-align: center;
}

.ellipsis i {
	opacity: 0;
	-webkit-animation: dot 1s infinite;
	-webkit-animation-delay: 0.0s;
}

.ellipsis i+i {
	opacity: 0;
	-webkit-animation: dot 1s infinite;
	-webkit-animation-delay: 0.2s;
}

.ellipsis i+i+i {
	opacity: 0;
	-webkit-animation: dot 1s infinite;
	-webkit-animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

.table-buttons {
	margin-bottom: 15px;
}

.table-buttons div.dt-buttons {
	float: none !important;
}