@charset "utf-8";

@media print {

    @page {
        size: A4;
    }

    body {
        background: #fff;
    }

    #header {
        display: none;
    }

    #sidebar, #main {
        padding: 0;
    }

    #sidebar {
        border: 0;
        float: right;
        height: auto;
        margin-left: 25px;
        position: static;
        width: 220px !important;
    }

    #sidebar .sidebox {
        border-bottom: 1px solid #eee;
        padding: 25px 0;
    }

    #sidebar .arrow {
        display: none;
    }

    #sidebar + #main {
        border-left: 0;
        margin: 0;
    }

    #main {
        position: static;
    }

    #main .padding {
        padding: 25px 0;
    }

    #main .desk_content_padding, .message {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .message:first-of-type {
        border-top: 1px solid #eee;
    }

    div.collapsed {
        background: 0;
        color: #333;
        opacity: 1.0
    }

    div.collapsed .original {
        display: block !important;
    }

    .buttons, ul.tabs, .split-ticket, .reply-header, .quick-actions, .reply-type, .message-form, .message .header .right, .collapsed .trimmed {
        display: none !important;
    }

}