@charset "utf-8";

/* Ticket Grid */

.ticket-options {
    line-height: 41px;
}

.ticket-options .processing {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.ticket-options .processing div {
    font-size: 120%;
    position: relative;
    text-align: center;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

table.dataTable tbody tr.ticket-viewed td {
    background: #f9f9f9;
    opacity: 0.8;
}

table.dataTable tbody tr.ticket-viewed.selected td {
    background: #fdf6ea;
    opacity: 1;
}

/* Ticket View */

span.subject {
    display: inline-block;
    padding: 3px 0;
}

span.subject:hover {
    border: 1px solid #ddd;
    padding: 2px 42px 2px 9px;
    position: relative;
}

span.subject:hover:before {
    background: #F6F8F8;
    border-left: 1px solid #eee;
    content: "\f040";
    cursor: pointer;
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 14px;
    margin-top: -2px;
    padding: 2px 9px;
    position: absolute;
    right: 0;
}

.message {
    border-bottom: 1px solid #eee;
    margin: 0 -25px;
    padding: 20px 25px 0;
}

.message:first-child {
    padding-top: 0;
}

.message:last-child {
    min-height: 230px;
}

.message .header {
    line-height: 25px;
}

.message .avatar {
    height: 48px;
    margin-right: 20px;
    width: 48px;
}

.message .header .name {
    font-size: 1.3em;
}
.message .header .staff {
    color: #c0392b;
}
.message .header .user {
    color: #27ae60;
}

.message .show-email-details {
    text-decoration: underline;
}

.message .text,
.message .edit-message {
    margin-top: 15px;
    padding: 0 0 20px 68px;
    word-wrap: break-word;
}

.message .edit-message {
    display: none;
}

.message .text .original .row {
    font-size: 13px;
}
.message .text .original .hide {
    display: block;
}

.message .text * {
    height: auto !important;
}

.message .text img, .ticket-draft img {
    max-width: 100%;
}

.message .text table {
    float: none;
}

.message .text table.redactor-table {
    border: none;
    border-collapse: collapse;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
}

.message .text table.redactor-table td,
.message .text table.redactor-table th {
    border: 1px solid #ddd;
    padding: 5px;
    vertical-align: top;
}

.message .text:before {
    clear: both;
    content: '';
    display: block;
}

.message div.expandable:before {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    content: '...';
    display: inline-block;
    font-weight: bold;
    height: 10px;
    line-height: 2px;
    margin: 10px 0;
    text-align: center;
    visibility: visible;
    width: 20px;
}

.message.forward {
    background: #ece2f9;
    border-left: 2px solid #c293e6;
}

.message div.expandable:hover:before {
    background-color: #d8d8d8;
    cursor: pointer;
}

.message div.expandable + div.supportpal_quote {
    display: none;
    color: #500050;
}

div.collapsed {
    background: #f5f5f5;
    color: #999;
    opacity: 0.6;
}

div.collapsed.note {
    background: #fcfdf2;
}

div.collapsed, div.collapsible .header {
    cursor: pointer;
}

div.collapsed-messages {
    background: linear-gradient(to bottom, #fff, #fff 90%, #f0f0f0 10%, #f0f0f0);
    background-size: 100% 10px;
    border-bottom: 1px solid #eee;
    color: #777;
    cursor: pointer;
    opacity: 0.6;
    margin: 0 -25px;
    padding: 3px;
    text-align: center;
}

div.collapsed .text {
    display: block !important;
}

div.collapsed .edit-message,
div.collapsed .attachments {
    display: none !important;
}

div.collapsed .header .attachment {
    color: #454545;
    display: inline;
}

div.collapsed-messages span {
    background: #fff;
    line-height: 0;
    padding: 5px 10px;
}

.quoted-text {
    color: #8e44ad;
}

.reply-type {
    margin-bottom: 15px;
}

.reply-type .option {
    border: 1px solid #eee;
    cursor: pointer;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
}

.reply-type .option[data-type='0'].active {
    background: #3B91CE;
    border: 1px solid #3B91CE;
    color: #fff;
}

.reply-type .option[data-type='1'].active {
    background: #f1c40f;
    border: 1px solid #f1c40f;
    color: #333;
}

.reply-type .option[data-type='2'].active {
    background: #8e44ad;
    border: 1px solid #8e44ad;
    color: #fff;
}

.reply-type .option.active:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
    border-top-color: inherit;
    content: "";
    left: 12px;
    margin-top: 5px;
    top: 28px;
    position: absolute;
}

.reply-type .option:hover {
    border: 1px solid #ccc;
}

.recipients {
    padding: 0;
}

.recipients.form-row {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 0;
    line-height: 30px;
    margin: 0;
    position: relative;
}

.recipients.form-row label {
    color: #777;
    font-weight: normal;
    padding-left: 10px;
    text-align: left;
    width: 60px;
}

.recipients.with-cc.form-row label, .recipients.form-row .input-container {
    margin-left: 63px;
}

.recipients.with-cc.form-row .input-container {
    margin-left: 110px;
}

.recipients > div {
    border-top: 1px solid #eee;
}

.recipients > div:first-child {
    border-top: 0;
}

.recipients #toAddress span.operator.hide + span.comma {
    display: none;
}

.recipients .add-cc, .recipients .add-bcc {
    color: #777;
    margin-right: 10px;
}

.forward-form .recipients .add-cc, .forward-form .recipients .add-bcc {
    float: right;
    position: relative;
    z-index: 10;
}

.recipients input[type="text"] {
    font-size: 100%;
}

.recipients input[type="text"], .recipients .selectize-control .selectize-input, .recipients .selectize-control .selectize-input.has-items {
    border: 0 !important;
    padding: 1px 0 !important;
}

.recipients .selectize-control.multi .selectize-input > div {
    margin-top: 3px;
}

.recipients .reply-all {
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 10px;
    position: absolute;
    z-index: 5;
}

.email-details.form-row {
    border: 0;
}

.email-details > div {
    border: 0;
    padding: 3px 0;
}

.email-details.form-row label {
    line-height: 24px;
    padding-left: 0;
    text-align: right;
    width: 40px;
}

.email-details.form-row .input-container,
.email-details.form-row .input-container::first-line {
    line-height: 24px;
}

.message .email-details {
    display: none;
}

.text .recipients {
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 95%;
    margin-bottom: 20px;
}

.text .recipients label {
    padding-left: 0;
    text-align: right;
    width: 40px;
}

.text .recipients.form-row .input-container {
    margin-left: 50px;
}

.attachments {
    margin: 0 0 20px 68px;
}

.attachments h4 {
    color: #aaa;
    font-size: 105%;
    font-weight: 600;
    margin: 0 0 9px;
    text-transform: uppercase;
}

.attachments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.attachments ul li {
    background: #fff;
    border: 1px solid #e0e0e0;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    width: 200px;
}

.attachments ul li a {
    display: block;
    text-decoration: none;
}

.attachments ul li a:hover {
    color: #333;
}

.attachments ul li div.deleteAttachment {
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-top: 0;
    border-right: 0;
    float: right;
    line-height: 1em;
    margin: 0;
    padding: 4px 2px;
    position: absolute;
    right: 0;
    z-index: 90;
}

.attachments ul li div.deleteAttachment:hover {
    background: #eee;
}

.attachments ul li .deleteAttachment .fa {
    color: #777;
}

.attachments ul li .deleteAttachment:hover .fa {
    color: #333;
}

.attachments ul li .preview {
    height: 88px;
    line-height: 88px;
    overflow: hidden;
    text-align: center;
}

.attachments ul li .preview .fiv-viv {
    font-size: 64px;
    padding: 12px;
}

.attachments ul li .name {
    background: #f5f5f5;
    border-top: 1px solid #eee;
    padding: 4px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.attachments ul li .name .underline {
    text-decoration: underline;
}

.attachments ul li .preview-hover {
    background: #454545;
    background: rgba(0,0,0,0.8);
    color: #fff;
    height: 100%;
    line-height: 1.2em;
    padding: 12px;
    position: absolute;
    top: 0;
    width: 100%;
}

.attachments ul li .preview-hover .fiv-viv {
    font-size: 20px;
}

.attachments ul li .preview-hover .attachment-details {
    margin-left: 10px;
    max-width: 142px;
}

.attachments ul li .preview-hover .hover-name {
    display: block;
    max-height: 46px;
    overflow: hidden;
    word-wrap: break-word;
}

.attachments ul li .preview-hover .description {
    color: #999;
}

.attachments ul li a:hover .preview-hover {
    display: block;
}

#main .attachments ul li a:hover .preview-hover .fa {
    color: #fff;
}

.attachments ul li a:hover .preview:not(.hover) {
    opacity: 0.5;
}

.messages-button-group {
    position: relative;
    z-index: 50;
}

.ticket-update {
    position: fixed;
    width: 269px;
    z-index: 500;
    word-wrap: break-word;
}

.reply-form {
    padding-right: 268px;
    width: 100%;
}

.ticket-draft .warning {
    border: 1px solid #f7df7a;
    margin: 0;
}

.ticket-draft .draft-message {
    background: #fcf9e5;
    border: 1px solid #f7df7a;
    border-top: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.quoteMessage .fa {
    color: #777;
}

.quoteMessage:hover .fa {
    color: #333;
}

.message-actions.dropdown-container div.dropdown {
    right: 25px;
}

.message-actions.dropdown-container ul button,
.message-actions.dropdown-container div.dropdown ul li a {
    display: block;
    text-decoration: none;
}

.message-actions.dropdown-container div.dropdown ul li {
    padding: 2px 10px;
}

.message-actions.dropdown-container div.dropdown ul li:hover {
    background: #f5f5f5;
}

.quick-actions, .ticket-viewing {
    border-bottom: 1px solid #eee;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 50px;
    z-index: 98;
}

.quick-actions {
    background: #fff;
}

.quick-actions, .ticket-viewing.box {
    margin-bottom: 0;
    padding: 10px 25px;
}

.ticket-viewing:not([style*="display: none"]) + .quick-actions {
    top: 93px;
}

#sidebar .linked-tickets a {
    text-decoration: underline;
}

#sidebar .linked-tickets a.unlink {
    position: relative;
    z-index: 100;
}

.add-link-form input[name="linked_search"], .add-link-form .results {
    width: 90%;
}

.add-link-form .results {
    border: 1px solid #eee;
    border-top: 0;
    list-style: none;
    margin: auto;
    max-height: 180px;
    padding: 0;
    overflow-y: auto;
    text-align: left;
}

.add-link-form .results li {
    border-bottom: 1px solid #eee;
    font-size: 90%;
    line-height: 1em;
    padding: 6px 10px 3px;
}

.add-link-form .results li:last-child {
    border-bottom: 0;
}

.add-link-form .results li:not(.no-results):hover {
    background: #F3F5F5;
    cursor: pointer;
}

/*
 * Dropdown (Reply all/message actions)
 */

.dropdown-container div.main-action,
.dropdown-container div.button {
    background: #eee;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    display: inline-block;
    line-height: 28px;
    padding: 0 7px;
}

.dropdown-container div.main-action {
    padding: 0 10px;
}

.dropdown-container div.main-action:hover,
.dropdown-container div.button:hover {
    background: #e5e5e5;
}

.dropdown-container div.button span.icon {
    display: inline-block;
}

.dropdown-container div.button span.pointer {
    float: right;
    margin: -3px 0 0 5px;
}

.dropdown-container div.main-action + div.button span.pointer {
    margin: -3px 0 0 0;
}

.dropdown-container div.button span.pointer .fa {
    color: #999;
    font-size: 8px;
}

.dropdown-container div.dropdown {
    position: absolute;
    z-index: 5;
}

.dropdown-container div.dropdown ul {
    background: #fff;
    border: 1px solid #e0e0e0;
    -moz-box-shadow: 1px 1px 1px #eee;
    -webkit-box-shadow: 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px #eee;
    list-style: none;
    margin: 1px 0 0;
    padding: 0;
    min-width: 170px;
}

.dropdown-container div.dropdown ul li {
    color: #666;
    cursor: pointer;
    padding: 0 8px;
}

.dropdown-container div.dropdown ul li:hover {
    color: #333;
}
.dropdown-container div.dropdown ul li.selected,
.dropdown-container div.dropdown ul li.selected:hover {
    color: #333;
    background: #eee;
}

/*
 * Reply options
 */
.reply-box {
    float: right;
    border: 1px solid #ddd;
    width: 250px;
}

.option_header {
    background: #fafafa;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 12px;
}

.option_header .arrow {
    margin-top: 4px;
}

.option_content {
    padding: 12px;
}
.option_content .option {
    margin-bottom: 7px;
}
.option_content .option:last-child {
    margin-bottom: 0;
}

.cannedTr {
    line-height: 32px;
    margin-top: 10px;
    padding: 0 8px;
}

/* Sidebar - ticket details */

table.ticket-details {
    overflow-x: hidden;
    margin-top: 10px;
    width: 100%;
}

table.ticket-details th,
table.ticket-details td {
    padding: 3px 0;
}

table.ticket-details th {
    font-size: 0.9em;
    font-weight: normal;
    padding-right: 10px;
    text-align: left;
    text-transform: uppercase;
    width: 80px;
}

table.ticket-details td {
    font-weight: bold;
    max-width: 133px;
    padding-top: 5px;
}

table.ticket-details select {
    font-size: 0.9em;
    max-width: 100%;
    width: 100%;
}

table.ticket-details .selectize-control.multi .selectize-input > div {
    font-weight: normal;
    word-break: break-all;
}

table.ticket-details .link {
    border-bottom: 1px dotted #c0392b;
    cursor: pointer;
}
table.ticket-details .link:hover {
    border-bottom: 1px solid #c0392b;
}

table.ticket-details .create-new-user {
    background: #fdf6ea;
    border: 1px solid #ddd;
    border-top: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1em;
    text-align: center;
}

table.ticket-details .create-new-user div.new-user-toggle {
    cursor: pointer;
    padding: 8px;
}

table.ticket-details .create-new-user .fa {
    font-size: 12px;
}

table.ticket-details .new-user-form {
    padding: 0 8px 8px;
}

table.ticket-details .new-user-form input {
    margin-bottom: 6px;
    width: 100%;
}

table.ticket-details .new-user-form .selectize-control {
    margin-bottom: 6px;
    text-align: left;
}

#sidebar a.apply-macro:hover {
    text-decoration: underline;
}

/* New ticket form */

.user-ticket {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 11px 15px 13px;
}

.existing-user {
    width: 100%;
}

.existing-user, .new-user {
    margin-top: 7px;
}

.new-user .label {
    display: inline-block;
    font-weight: bold;
    line-height: 32px;
    margin: 2px 0;
    width: 110px;
}

.new-user label > input, .new-user .selectize-control {
    min-width: 230px;
}

.new-user .selectize-control {
    display: inline-block;
}

/* Private Messages */

.message-block {
    padding: 0 25px;
}

.message-block .message {
    padding: 20px 0 0;
}

.message-block .message:first-child {
    padding: 0;
}

/* lightGallery */

body.lg-on {
    overflow: hidden;
}

.lg-backdrop, .lg-toolbar {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.lg-actions .lg-next, .lg-actions .lg-prev {
    background: rgba(0,0,0,.45);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 5px !important;
}

.lg-video-object {
    background: #111;
}