@charset "utf-8";

/* Ticket Grid */

.ticket-options {
    line-height: 41px;
    position: relative;
}

.ticket-options .processing {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.ticket-options .processing div {
    font-size: 120%;
    position: relative;
    text-align: center;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

table.dataTable tbody tr.ticket-viewed td {
    background: #f9f9f9;
    opacity: 0.8;
}

table.dataTable tbody tr.ticket-viewed.selected td {
    background: #fdf6ea;
    opacity: 1;
}

/* Ticket View */

#main h1.ticket-subject {
    line-height: 34px;
}

span.subject:hover {
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: -12px;
    padding: 2px 9px;
}

span.subject:hover:after {
    background: #F6F8F8;
    border: 1px solid #ddd;
    border-left-color: #eee;
    content: "\f040";
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 14px;
    padding: 1px 6px 2px;
    margin-left: 9px;
    margin-top: -3px;
    position: absolute;
}

.message {
    border-bottom: 1px solid #eee;
    margin: 0 -25px;
    padding: 20px 25px 0;
}

.message:first-child {
    padding-top: 0;
}

.message .header {
    line-height: 25px;
}

.message .avatar {
    height: 48px;
    margin-right: 20px;
    width: 48px;
}

.message .header .name {
    font-size: 1.3em;
}
.message .header .staff {
    color: #c0392b;
}
.message .header .user {
    color: #27ae60;
}

.message .show-email-details {
    text-decoration: underline;
}

.message .text,
.message .edit-message {
    margin-top: 15px;
    padding: 0 0 20px 68px;
    word-wrap: break-word;
}

.message .edit-message {
    display: none;
}

.message .text .original .row {
    font-size: 13px;
}
.message .text .original .hide {
    display: block;
}

.message .text * {
    height: auto !important;
}

.message .text img, .ticket-draft img {
    max-width: 100%;
}

.message .text table {
    float: none;
}

.message .text table.redactor-table {
    border: none;
    border-collapse: collapse;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
}

.message .text table.redactor-table td,
.message .text table.redactor-table th {
    border: 1px solid #ddd;
    padding: 5px;
    vertical-align: top;
}

.message .text:before {
    clear: both;
    content: '';
    display: block;
}

.message div.expandable:before {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    content: '...';
    display: inline-block;
    font-weight: bold;
    height: 10px;
    line-height: 2px;
    margin: 10px 0;
    text-align: center;
    visibility: visible;
    width: 20px;
}

.message div.expandable:hover:before {
    background-color: #d8d8d8;
    cursor: pointer;
}

div.supportpal_quote {
    display: none;
    color: #500050;
}

div.collapsed {
    background: #f5f5f5;
    color: #999;
    opacity: 0.6;
}

div.collapsed.note {
    background: #fcfdf2;
}

div.collapsed, div.collapsible .header {
    cursor: pointer;
}

div.collapsed-messages {
    background: linear-gradient(to bottom, #fff, #fff 90%, #f0f0f0 10%, #f0f0f0);
    background-size: 100% 10px;
    border-bottom: 1px solid #eee;
    color: #777;
    cursor: pointer;
    opacity: 0.6;
    margin: 0 -25px;
    padding: 3px;
    text-align: center;
}

div.collapsed .text {
    display: block !important;
}

div.collapsed .edit-message,
div.collapsed .attachments {
    display: none !important;
}

div.collapsed .header .attachment {
    color: #454545;
    display: inline;
}

div.collapsed-messages span {
    background: #fff;
    line-height: 0;
    padding: 5px 10px;
}

.quoted-text {
    color: #8e44ad;
}

.reply-type {
    margin-bottom: 15px;
}

.reply-type .option {
    border: 1px solid #eee;
    cursor: pointer;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
}

.reply-type .option[data-type='0'].active {
    background: #3B91CE;
    border: 1px solid #3B91CE;
    color: #fff;
}

.reply-type .option[data-type='1'].active {
    background: #f1c40f;
    border: 1px solid #f1c40f;
    color: #333;
}

.reply-type .option.active:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
    border-top-color: inherit;
    content: "";
    left: 12px;
    margin-top: 5px;
    top: 28px;
    position: absolute;
}

.reply-type .option:hover {
    border: 1px solid #ccc;
}

.recipients {
    padding: 0;
}

.recipients.form-row {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 0;
    line-height: 30px;
    margin: 0;
    position: relative;
}

.recipients.form-row label {
    color: #777;
    font-weight: normal;
    padding-left: 10px;
    text-align: left;
    width: 52px;
}

.recipients.with-cc.form-row label {
    padding-left: 63px;
}

.recipients.form-row .input-container {
    margin-left: 55px;
}

.recipients.with-cc.form-row .input-container {
    margin-left: 110px;
}

.recipients > div {
    border-top: 1px solid #eee;
}

.recipients > div:first-child {
    border-top: 0;
}

.recipients #toAddress span.operator.hide + span.comma {
    display: none;
}

.recipients .add-cc {
    color: #777;
    margin-right: 10px;
}

.recipients .selectize-control .selectize-input, .recipients .selectize-control .selectize-input.has-items {
    border: 0 !important;
    padding: 1px 0 !important;
}

.recipients .selectize-control.multi .selectize-input > div {
    margin-top: 3px;
}

.recipients .reply-all {
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 10px;
    position: absolute;
    z-index: 5;
}

.recipients .reply-all div.button {
    background: #eee;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    line-height: 28px;
    padding: 0 7px;
}

.recipients .reply-all div.button:hover {
    background: #e5e5e5;
}

.recipients .reply-all div.button span.icon {
    display: inline-block;
}

.recipients .reply-all div.button span.pointer {
    float: right;
    margin: -3px 0 0 5px;
}

.recipients .reply-all div.button span.pointer .fa {
    color: #999;
    font-size: 8px;
}

.recipients .reply-all div.dropdown {
    position: absolute;
    z-index: 5;
}

.recipients .reply-all div.dropdown ul {
    background: #fff;
    border: 1px solid #e0e0e0;
    -moz-box-shadow: 1px 1px 1px #eee;
    -webkit-box-shadow: 1px 1px 1px #eee;
    box-shadow: 1px 1px 1px #eee;
    list-style: none;
    margin: 2px 0 0;
    padding: 0;
    width: 170px;
}

.recipients .reply-all div.dropdown ul li {
    color: #666;
    cursor: pointer;
    padding: 0 8px;
}

.recipients .reply-all div.dropdown ul li:hover {
    color: #333;
}
.recipients .reply-all div.dropdown ul li.selected,
.recipients .reply-all div.dropdown ul li.selected:hover {
    color: #333;
    background: #eee;
}

.email-details.form-row {
    border: 0;
}

.email-details > div {
    border: 0;
    padding: 3px 0;
}

.email-details.form-row label {
    line-height: 24px;
    padding-left: 0;
    text-align: right;
    width: 40px;
}

.email-details.form-row .input-container,
.email-details.form-row .input-container::first-line {
    line-height: 24px;
}

.text .recipients {
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 95%;
    margin-bottom: 20px;
}

.text .recipients label {
    padding-left: 0;
    text-align: right;
    width: 40px;
}

.text .recipients.form-row .input-container {
    margin-left: 50px;
}

.attachments {
    margin: 0 0 20px 68px;
}

.attachments h4 {
    color: #aaa;
    font-size: 105%;
    font-weight: 600;
    margin: 0 0 9px;
    text-transform: uppercase;
}

.attachments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.attachments ul li {
    background: #E9F3F9;
    margin-top: 1px;
    padding: 4px 12px;
}

.messages-button-group {
    position: relative;
    z-index: 50;
}

.ticket-update {
    position: fixed;
    width: 269px;
    z-index: 500;
    word-wrap: break-word;
}

.ticket-viewing.box {
    border-bottom: 1px solid #DFE5E6;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 60;
}

.ticket-viewing[style*="display: block"] + .desk_content_padding {
    margin-top: 47px;
}

.reply-form {
    padding-right: 268px;
    width: 100%;
}

.ticket-draft .warning {
    border: 1px solid #f7df7a;
    margin: 0;
}

.ticket-draft .draft-message {
    background: #fcf9e5;
    border: 1px solid #f7df7a;
    border-top: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.jump-to-reply {
    bottom: 0;
    position: fixed;
    right: 25px;
    z-index: 100;
}

.jump-to-reply button {
    border-bottom: 0;
}

/*
 * Reply options
 */
.reply-box {
    float: right;
    border: 1px solid #ddd;
    width: 250px;
}

.option_header {
    background: #fafafa;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 12px;
}

.option_header .arrow {
    margin-top: 4px;
}

.option_content {
    padding: 12px;
}
.option_content .option {
    margin-bottom: 7px;
}
.option_content .option:last-child {
    margin-bottom: 0;
}

.cannedTr {
    line-height: 32px;
    margin-top: 10px;
    padding: 0 8px;
}

/* Sidebar - ticket details */

table.ticket-details {
    overflow-x: hidden;
    margin-top: 10px;
    width: 100%;
}

table.ticket-details th,
table.ticket-details td {
    padding: 3px 0;
}

table.ticket-details th {
    font-size: 0.9em;
    font-weight: normal;
    padding-right: 10px;
    text-align: left;
    text-transform: uppercase;
    width: 80px;
}

table.ticket-details td {
    font-weight: bold;
    max-width: 133px;
    padding-top: 5px;
}

table.ticket-details select {
    font-size: 0.9em;
    max-width: 100%;
    width: 100%;
}

table.ticket-details .selectize-control.multi .selectize-input > div {
    font-weight: normal;
    word-break: break-all;
}

table.ticket-details .link {
    border-bottom: 1px dotted #c0392b;
    cursor: pointer;
}
table.ticket-details .link:hover {
    border-bottom: 1px solid #c0392b;
}

table.ticket-details .create-new-user {
    background: #fdf6ea;
    border: 1px solid #ddd;
    border-top: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    line-height: 1em;
    padding: 8px;
    text-align: center;
}

table.ticket-details .create-new-user .fa {
    font-size: 12px;
}

#sidebar a.apply-macro:hover {
    text-decoration: underline;
}

/* New ticket form */

.user-ticket {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 11px 15px 13px;
}

.existing-user {
    width: 100%;
}

.existing-user, .new-user {
    margin-top: 7px;
}

.new-user .label {
    display: inline-block;
    font-weight: bold;
    line-height: 32px;
    margin: 2px 0;
    width: 110px;
}

.new-user input {
    min-width: 230px;
}

/* Private Messages */

.message-block {
    padding: 0 25px;
}

.message-block .message {
    padding: 20px 0 0;
}

.message-block .message:first-child {
    padding: 0;
}