<tr>
    <td class="grid-options" colspan="{{ totalColumns }}">
        <div style="display: table; padding: 5px 0; width: 100%;">
            <div style="display: table-cell;">{{ form_select('add-user') }}</div>
            <div style="display: table-cell; padding-left: 20px; text-align: right; vertical-align: top; width: 120px;">
                {{ form_button(Lang.get('general.add_item', {'item': Lang.choice('user.user', 1)}), { 'class': 'add-user' }) }}
            </div>
        </div>
    </td>
</tr>