<form class="message-form edit" data-route="{{ route('ticket.operator.message.update', [ message.id ]) }}">

    {{ form_hidden('ticket_id', ticket.id) }}

    {# If show_more is true, we will AJAX load the full text in later, but the textarea must still exist for JS #}
    {{ form_redactor('text', message.show_more is empty ? message.purified_text : '') }}

    <br />

    {{ form_submit(Lang.get('general.save')) }}

</form>