<form class="message-form edit" data-route="{{ route('ticket.operator.message.update', [ message.id ]) }}">

    {{ form_hidden('ticket_id', ticket.id) }}

    {{ form_redactor('text', message.text) }}

    <br />

    {{ form_submit(Lang.get('general.save')) }}

</form>