<div class="option translatable small-translatable {% if hide|default is not empty %}hide{% endif %}">
    <i class="fa fa-bars fa-lg handle" aria-hidden="true"></i> &nbsp;
    {{ form_hidden('options[' ~ (option is defined ? option.id : '') ~ '][id]',
        (option is defined ? option.id : null))
    }}
    {{ form_hidden('options[' ~ (option is defined ? option.id : '') ~ '][field_id]',
        (field is defined ? field.id : null), { 'class': 'field-id' })
    }}
    {{ form_translatable_text(option, 'value', 'options[' ~ (option is defined ? option.id : '') ~ '][value]') }}&nbsp;
    {{ form_button(Lang.get('general.remove'), { 'class': 'remove-option' }) }}
</div>