<div id="sidebar" class="sidebar-close left">
    <i class="fa fa-angle-double-right toggle-sidebar hide"></i>

    <div class="sidebox">
        <h2>{{ Lang.choice('general.setting', 1) }}</h2>
    </div>

    {% for module in Config.get('enabled_modules') %}
        {% if View.exists('operator.' ~ template ~ '.' ~ module.slug|lower ~ '.sidebar-settings') and auth_user().canViewSettings(module.slug) %}
            {% if route is not defined %}
                {% set route = Route.currentRouteName() %}
            {% endif %}

            {% set routeSplit = route|split('.') %}

            {% include 'operator.' ~ template ~ '.' ~ module.slug|lower ~ '.sidebar-settings' with { 'module': routeSplit[0], 'route': route } %}

        {% endif %}
    {% endfor %}

    <div class="copyright">{{ Lang.get('core.carefully_crafted') }} <a href="https://www.supportpal.com">{{ Lang.get('core.product_name') }}</a>.</div>
</div>