<h2 class="messages-header">{{ Lang.choice('general.message', 2) }}</h2>

<div class="message-block">
    {% for message in messages %}
        {% if message.type == 0 %}
            {% include 'frontend.' ~ template ~ '.ticket.message' %}
        {% endif %}
    {% endfor %}
</div>
