/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700");

/* General */

body {
    background: #f1f2f6;
    margin: 40px 0 50px;
}

body, td, th, select, input, button, .sweet-alert {
    color: #222;
    font: 14px "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 170%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #666;
}

p {
    margin: 25px 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    margin: 30px 0;
}
.sweet-alert hr {
    margin: 10px 0;
}

form {
    margin: 0;
}

img {
    border: 0;
}

.bold {
    font-weight: bold;
}

.hide {
    display: none;
}

/* Headings */

h1, h2, h3, h4 {
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

h1 {
    color: #333;
    font-size: 2.25em;
    letter-spacing: -1px;
    margin: 0px 0 8px 0;
    padding-top: 3px;
}

body.index h1 {
    font-size: 3em;
    margin: 50px 0 30px 0;
    padding: 0;
}

h2 {
    color: #06548C;
    font-size: 1.2em;
    margin: 0 0 50px;
}

body.index h2 {
    font-size: 1.5em;
}

h3 {
    border-bottom: 2px solid #eee;
    color: #333;
    font-size: 1.7em;
    margin: 0 0 30px;
    padding-bottom: 30px;
}

h4 {
    color: #333;
    font-size: 1.3em;
    margin: 25px 0;
}

/* Wrapper */

#wrapper {
    margin: auto;
    max-width: 800px;
}

.content {
    background: #fff;
    padding: 30px;
}

/* Progress Bar */

#progress {
    background: #e1e2e6;
    height: 25px;
}

.progressbg {
    -webkit-animation:move 1.5s linear infinite;
    -moz-animation:move 1.5s linear infinite;
    -ms-animation:move 1.5s linear infinite;
    animation:move 1.5s linear infinite;
    background: linear-gradient(
     -45deg,
     #ACDA7B 33%,
     #85c440 33%,
     #85c440 66%,
     #ACDA7B 66%
    );
    background-size: 48px 25px;
    height: 25px;
    overflow: hidden;
}

/* Animate the stripes */

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 48px 0;
    }
}
@-moz-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 48px 0;
    }
}
@-ms-keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 48px 0;
    }
}
@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 48px 0;
    }
}

/* Errors */

#desk_error {
    background: #ffeeee;
    border: 1px solid #ff9999;
    padding: 20px;
}

div.error, div.success {
    margin-bottom: 20px;
    padding: 12px 20px;
}

div.error {
    background: #FBEEEB;
    border-left: 2px solid #ef8c82;
}

div.error input[type='button'] {
    margin: 10px 0 3px;
    padding: 5px 15px;
}

span.error {
    color: #C00;
    font-weight: bold;
}

div.success {
    background: #f0fbeb;
    border-left: 2px solid #8ddf79;
}

span.success {
    color: #090;
    font-weight: bold;
}

.fa-success {
    color: #27ae60;
}

.fa-error {
    color: #c0392b;
}

.fa-orange {
    color: #f39c12;
}

.warning, .note {
    background: #fcf9e5;
    border-left: 2px solid #f7df7a;
}
.warning .fa.left, .note .fa.left {
    color: #f39c12;
}

/* Tables */

table {
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    margin-top: 30px;
}

table td, table th {
    border-bottom: 1px solid #e5e5e5;
    padding: 8px;
}

table th {
    background: #f9f9f9;
    font-weight: bold;
    text-align: right;
}

/* Forms */

.form-row {
    margin-top: 20px;
}

.form-row label {
    display: block;
    font-size: 110%;
    font-weight: 600;
    margin-bottom: 7px;
}

.form-row .description {
    margin-top: 5px;
}

textarea {
    resize: none;
    width: 100%;
}

textarea:read-only {
    color: rgb(84, 84, 84);
}

input, textarea, select {
    background: #fff;
    border: 1px solid #ccc;
    border-top-color: #bbb;
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5em;
    margin: 0;
    padding: 5px;
}

input:focus, select:focus, textarea:focus {
    border: solid 1px #2d98da;
    -webkit-box-shadow: 0 0 6px rgba(45, 152, 218, .25);
    -moz-box-shadow: 0 0 6px rgba(45, 152, 218, .25);
    box-shadow: 0 0 6px rgba(45, 152, 218, .25);
    outline: none;
}

input[type="text"], input[type="password"] {
    min-width: 250px;
}

input[type="checkbox"], input[type="radio"] {
    background: none;
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

input[type="button"], input[type="submit"] {
    background: #888;
    border: 0;
    border-bottom: 2px solid #666;
    color: #fff;
    cursor: pointer;
    font-size: 110%;
    margin-top: 30px;
    padding: 7px 15px;
}

input[type="button"]:hover {
    background: #666;
}

input[type="submit"] {
    background: #06548C;
    border-bottom-color: #192a56;
}

input[type="submit"]:hover {
    background: #192a56;
}

input[type="button"].inline,
input[type="submit"].inline {
    padding: 0px 12px;
}

input:disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

input.toggle {
    margin-left: -9999px;
    position: absolute;
    visibility: hidden;
}

input.toggle + label {
    background-color: #ddd;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    outline: none;
    margin-left: 0 !important;
    position: relative;
    transition: background 0.4s;
    user-select: none;
    vertical-align: middle;
    width: 60px;
    padding: 6px 30px;
}

input.toggle + label:before,
input.toggle + label:after {
    content: "";
    display: block;
    position: absolute;
}

input.toggle + label:before {
    background-color: #fff;
    border-radius: 30px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    top: 1px;
    transition: background 0.4s;
}

input.toggle + label:after {
    background-color: #ddd;
    border-radius: 22px;
    bottom: 4px;
    left: 4px;
    top: 4px;
    transition: margin 0.4s, background 0.4s;
    width: 22px;
}

input.toggle:checked + label {
    background-color: #27ae60;
}

input.toggle:checked + label:after {
    margin-left: 30px;
    background-color: #27ae60;
}

.install-type {
    background: #f9f9f9;
    border: 1px solid #ddd;
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
    display: inline-block;
    margin-top: 12px;
    padding: 8px 15px;
}

/* Body */

body.index {
    margin-top: 70px;
    text-align: center;
}

body.index .content {
    margin: auto;
    width: 550px;
}

.logo {
    left: 50%;
    margin-left: -150px;
    margin-top: -175px;
    position: absolute;
    top: 50%;
}

#header {
    text-align: center;
}

#header img {
    margin-bottom: 35px;
}

/* Message boxes */

.box {
    margin-bottom: 25px;
    padding: 12px 15px;
}

.box .fa.left {
    font-size: 45px;
    margin-right: 15px;
}

.box img.left {
    margin: 4px 13px 0 0;
}

.bottombox {
    margin: 15px 0 0;
}

.box .title {
    font-size: 130%;
    font-weight: bold;
}

.fail {
    border-left: 2px solid #ef8c82;
    background: #FBEEEB;
}
.fail .fa.left {
    color: #c0392b;
}

.success {
    border-left: 2px solid #8ddf79;
    background: #f0fbeb;
}
.success .fa.left {
    color: #27ae60;
}

.warning, .note {
    border-left: 2px solid #f7df7a;
    background: #fcf9e5;
}
.warning .fa.left, .note .fa.left {
    color: #f39c12;
}

.options {
    border-left: 2px solid #efbd98;
    background: #fdf6ea;
}
.options .fa.left {
    color: #d35400;
}

.options img {
    padding: 0 4px 1px 0;
}

.options a {
    text-decoration: none;
}

.text-success, .text-fail, .text-progress {
    font-weight: bold;
}
.text-success {
    color: #27ae60;
}
.text-fail {
    color: #c0392b;
}
.text-progress {
    color: #e67e22;
}
.description {
    color: #888;
    font-size: 95%;
}

/* Requirements */

.requirement {
    width: 100%;
    margin-bottom: 25px;
}

.requirement:last-of-type {
    margin-bottom: 0;
}

.requirement:after {
    content: '';
    display: block;
    clear: both;
}

.requirement .status {
    float: left;
}

.requirement .status .fa {
    font-size: 32px;
}

.requirement .is-valid {
    color: #666;
}

.requirement .details {
    margin-left: 48px;
}

.requirement .details h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.requirement h5 {
    color: #454545;
    font-size: 0.9em;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.requirement table {
    margin-top: 0;
}
