<div class="form-row form-full">
    {{ form_label('data[' ~ code ~ '][subject]', Lang.get('core.email_subject')) }}
    <div class="input-container">
        {{ form_text('data[' ~ code ~ '][subject]', recordData[code]|default is not empty ? recordData[code]['subject'] : null) }}
    </div>
</div>

<div class="form-row form-full">
    {{ form_label('data[' ~ code ~ '][contents]', Lang.get('core.email_content')) }}
    <div class="input-container">
        {{ form_redactor_mf('data[' ~ code ~ '][contents]', recordData[code]|default is not empty ? recordData[code]['contents'] : null) }}
    </div>
</div>